<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.dictionary.ASL Test Dictionary</string>
	<key>CFBundleName</key>
	<string>ASL Test Dictionary</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>DCSDictionaryCopyright</key>
	<string>No Copyright.. Yet...</string>
	<key>DCSDictionaryManufacturerName</key>
	<string>Center for Accessible Technology in Sign</string>
	<key>DCSDictionaryFrontMatterReferenceID</key>
	<string>front_back_matter</string>
	<key>DCSDictionaryPrefsHTML</key>
	<string>ASLDictionary_prefs.html</string>
	<key>DCSDictionaryXSL</key>
	<string>ASLDictionary.xsl</string>
	<key>DCSDictionaryDefaultPrefs</key>
	<dict>
		<key>display-column</key>
		<string>1</string>
		<key>display-picture</key>
		<string>1</string>
		<key>version</key>
		<string>1</string>
	</dict>
</dict>
</plist>
